<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haolyy.compliance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--登录-->
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <!--注册-->
        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--忘记密码-->
        <activity
            android:name=".ui.login.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--产品详情-->
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <!--优惠券-->
        <activity
            android:name=".ui.product.SelectQuanActivity"
            android:screenOrientation="portrait" />
        <!--资金统计-->
        <activity
            android:name=".ui.my.FundStatisticsActivity"
            android:screenOrientation="portrait" />
        <!--确认投资-->
        <activity
            android:name=".ui.product.ProductSureInvest"
            android:screenOrientation="portrait" />
        <!--投资错误-->
        <activity
            android:name=".ui.product.InvestError"
            android:screenOrientation="portrait" />
        <!--投资错误后重新投资-->
        <activity
            android:name=".ui.product.InvestErrorRest"
            android:screenOrientation="portrait" />
        <!--投资成功-->
        <activity
            android:name=".ui.product.InvestSucceed"
            android:screenOrientation="portrait" />
        <!--第四板块交易记录-->
        <activity
            android:name=".ui.my.TradeRecordActivity"
            android:screenOrientation="portrait" />
        <!--检查存管-->
        <activity
            android:name=".ui.bank.CheckBankActivity"
            android:label="@string/title_activity_check_bank"
            android:theme="@style/AppTheme" />
        <!--绑定银行卡-->
        <activity
            android:name=".ui.bank.BankBindActivity"
            android:screenOrientation="portrait" />
        <!--银行卡列表-->
        <activity
            android:name=".ui.bank.BankListActivity"
            android:screenOrientation="portrait" />
        <!--第二板块交易记录-->
        <activity
            android:name=".ui.my.DealLogActivity"
            android:screenOrientation="portrait" />
        <!--第二板块交易详情-->
        <activity
            android:name=".ui.my.DealDetailRecycle"
            android:screenOrientation="portrait" />
        <!--第二板块交易详情体现-->
        <activity
            android:name=".ui.my.DealDetailWithDraw"
            android:screenOrientation="portrait" />
        <!--邀请记录-->
        <activity
            android:name=".ui.my.InviteFriendActivity"
            android:screenOrientation="portrait" />
        <!--邀请好友-->
        <activity
            android:name=".ui.my.view.InviteRecordActivity"
            android:screenOrientation="portrait" />
        <!--账户安全-->
        <activity
            android:name=".ui.my.AccountSecurityActivity"
            android:screenOrientation="portrait" />
        <!--消息中心-->
        <activity
            android:name=".ui.my.MessageActivity"
            android:screenOrientation="portrait" />
        <!--消息详情-->
        <activity
            android:name=".ui.my.MessageDetail"
            android:screenOrientation="portrait" />
        <!--第四模块验证手机-->
        <activity
            android:name=".ui.my.CheckPhone"
            android:screenOrientation="portrait" />
        <!--第四模块更新手机-->
        <activity
            android:name=".ui.my.UpdatePhone"
            android:screenOrientation="portrait" />
        <!--积分商城-->
        <activity
            android:name=".ui.find.ShoppingActivity"
            android:screenOrientation="portrait" />
        <!--积分兑换成功-->
        <activity
            android:name=".ui.find.ConvertSuccess"
            android:screenOrientation="portrait" />
        <!--积分兑换失败-->
        <activity
            android:name=".ui.find.ConvertError"
            android:screenOrientation="portrait" />
        <!--积分卡券-->
        <activity
            android:name=".ui.find.ShopCardActivity"
            android:screenOrientation="portrait" />
        <!--新手任务-->
        <activity
            android:name=".ui.my.MissionActivity"
            android:screenOrientation="portrait" />
        <!--手势密码-->
        <activity
            android:name=".ui.my.GestureManageActivity"
            android:screenOrientation="portrait" />
        <!--设置手势密码-->
        <activity
            android:name=".ui.my.GestureSettingActivity"
            android:screenOrientation="portrait" />
        <!--汪银测试-->
        <activity android:name=".ui.WyTestActivity">

        </activity>
    </application>

</manifest>